<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="http://eclipse.org/smarthome/schemas/config-description/v1.0.0"
	xsi:schemaLocation="http://eclipse.org/smarthome/schemas/config-description/v1.0.0
        http://eclipse.org/smarthome/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:miio:hub">
		<parameter name="email" type="text" required="true">
			<label>User Name</label>
			<description>The email to use when connecting to an Efergy Engage account</description>
			<required>true</required>
		</parameter>
		<parameter name="password" type="text" required="true">
			<context>password</context>
			<label>Password</label>
			<description>The password to use when connecting to an Efergy Engage account</description>
			<required>true</required>
		</parameter>
		<parameter name="device" type="text" required="true">
			<label>Registered device name</label>
			<description>The name of the device registered with Efergy mobile app. e.g. "android"</description>
			<default>android</default>
		</parameter>
		<parameter name="utcOffset" type="integer" required="false">
			<label>Offset to UTC</label>
			<description>Specifies the UTC offset in minutes for total calculations. A value of -120 means current time zone of UTC+2</description>
			<default>0</default>
		</parameter>
		<parameter name="refresh" type="integer" required="false">
			<label>Refresh refresh</label>
			<description>Specifies the refresh refresh in seconds</description>
			<default>30</default>
		</parameter>
	</config-description>
</config-description:config-descriptions>
