<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                        xmlns:config-description="http://eclipse.org/smarthome/schemas/config-description/v1.0.0"
                                        xsi:schemaLocation="http://eclipse.org/smarthome/schemas/config-description/v1.0.0 http://eclipse.org/smarthome/schemas/config-description-1.0.0.xsd">

    <config-description uri="thing-type:csas:item">
        <parameter name="id" type="text">
            <label>CSAS Item Id</label>
            <description>The identifier of the CSAS item</description>
            <required>true</required>
            <advanced>true</advanced>
        </parameter>
    </config-description>

    <config-description uri="bridge-type:csas:bridge">
        <parameter name="clientId" type="text" required="true">
            <label>CSAS client ID.</label>
        </parameter>
        <parameter name="clientSecret" type="text" required="true">
            <label>CSAS client secret.</label>
        </parameter>
        <parameter name="refreshToken" type="text" required="true">
            <label>CSAS refresh token.</label>
        </parameter>
        <parameter name="webAPIKey" type="text" required="true">
            <label>CSAS webAPI key.</label>
            <default>0e62d144-311a-4bf6-9868-64a3b52de4c9</default>
        </parameter>
        <parameter name="refresh" type="integer" required="true">
            <label>Refresh refresh</label>
            <description>Specifies the refresh of thing states in seconds</description>
            <default>1800</default>
        </parameter>
    </config-description>
</config-description:config-descriptions>
